main .notasi{
    width: 60%;
    margin: auto;
}
.notasi .col-8 p{
    margin-bottom: 20px;
}
.red {
    background-color: #f0390f;
}
.blue {
    background-color: #3e0bce;
}
.red img, .blue img {
    filter: invert(1);
}
main article.notasi {
    margin-top: 100px;
}