main .notasi{
    width: 60%;
    margin: auto;
}
.notasi .col-8 p{
    margin-bottom: 20px;
}
.red {
    background-color: #f0390f;
}
.transparant {
    background-color: transparent;
}
#diagramfoto {
    width: 700px;
}
#semuapenjelasan ol li {
    list-style:decimal;
}
.text_align_left, .text_align_left li {
    font-size: 20px;
}
.blue {
    background-color: #3e0bce;
}
.red img, .blue img {
    filter: invert(1);
}
main article.notasi {
    margin-top: 100px;
}
#diagram {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}
#diagram img {
    width: 480px;
    transition: transform 0.3s ease; 
}
#diagram img:hover {
    transform: scale(1.2);
}